@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Rock+Salt&family=Sora:wght@300;400;700&display=swap");
/* 
font-family: 'Inter', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Sora', sans-serif; */

body {
  width: 100vw;
  min-height: 100vh;
}
